.slider{
    height: 100%;
   
}
.slide{
    display:flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: #E0E3D8;
    padding:25px;
    border-radius: 10px;
}
.slide .image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding:30px;
    width:600px;
    height:550px;
}
.slide .image1 img{
    width:400px;
}
.slide .image2 img{
    width:500px;
}
.slide .image3 img{
    width:600px;
}
.slide .image4 img{
    width:400px;
}
.slide .image5 img{
    width:500px;
}
.slide .image6 img{
    width:600px;
}
.slide .image7 img{
    width:500px;
}
.slide .image8 img{
    width:500px;
}
.text-wrapper{
    display:flex;
    flex-direction: column;
    align-self:center;
}
.odd-slide .text-wrapper{
   margin-left: 30px; 
}
.honest-slide{
    flex-direction: row-reverse;
}
.honest-slide .text-wrapper{
    margin-right: 30px;
}
.text-wrapper h1{
    margin-bottom: 15px;
}
button{
    padding:10px;
    background-color: #A5B585;
    border:none;
    border-radius: 5px;
    width:200px;
}