<div class="container-fluid mt-3 slider-container">
  <owl-carousel-o [options]="customOptions" class="slider">
  <ng-template carouselSlide>
      <div class="slide odd-slide">
        <div class="image image1">
          <img src="../../assets/images/1-слайд.png">
          <!-- <div>
            Illustration by <a href="https://icons8.com/illustrations/author/5dbbfa4a01d0360016456d51">Murat Kalkavan</a> from <a href="https://icons8.com/illustrations">Ouch!</a>
          </div> -->
        </div>
        
        <div class="text-wrapper">
          <h1>
          Шаг 1 - Заполнение анкеты
          </h1>
          <p>
            Чтобы стать волонтером для начала следует заполнить анкету.<br>
            
            Прием заявок на 2022 год начинается с 05.12.2021 года<br>
            Обращаем внимание, что, заполняя форму, вы даете согласие на обработку персональных данных 
            в соответствии с «Пользовательским соглашением» и «Политикой конфиденциальности».
            
          </p>
        <button (click)="onApplication()">Заполнить анкету</button>
        </div>
        
      </div>
    </ng-template>  
  <ng-template carouselSlide>
    <div class="slide honest-slide">
      <div class="image image2">
        <img src="../../assets/images/2-слайд2.png">
        <!-- <div>
          Illustration by <a href="https://icons8.com/illustrations/author/5eb29f8301d0360018f18b01">Maria Shukshina</a> from <a href="https://icons8.com/illustrations">Ouch!</a>
        </div> -->
      </div>
        <div class="text-wrapper">
          <h1>
          Шаг 2 - Прохождение курса
          </h1>
          <p>
            Пройти курс, по окончании которого у Вас будет итоговый тест, в случае успешного результата Вас перенаправят 
            в отдел познавательного туризма, далее Вы заполняете еще одну анкету (волонтера Кроноцкого заповедника) 
            по утвержденной форме на сайте www.kronoki.ru, в разделе ВОЛОНТЕРСТВО,
            в левом меню выбираем пункт ОФОРМИТЬ ЗАЯВКУ,
            либо по <a href="https://docs.google.com/forms/d/e/1FAIpQLSe1gyTpb69_1pNQPa3bFChFebvAfFMMDyBSWL9cUeRJqLSBWQ/viewform">ссылке</a>.                    
          </p>
        </div>
    </div>
    </ng-template>  
  <ng-template carouselSlide>
    <div class="slide odd-slide">
      <div class="image image3">
        <img src="../../assets/images/3-слайд2.png">
        <!-- <div>
          Illustration by <a href="https://icons8.com/illustrations/author/5e7e24ce01d0360013bb7479">Natasha Remarchuk</a> from <a href="https://icons8.com/illustrations">Ouch!</a>
        </div> -->
      </div>
      <div class="text-wrapper">
        <h1>
        Шаг 3 - Необходимые документы
        </h1>
        <p>
          При наличии, просьба предоставить справки о прохождении медицинской комиссии, если проходили в течение последнего года,
          или предоставить расписку о состоянии здоровья (ограничения, хронические заболевания).
          Предоставить туристическую страховку.<br><br>

          Вам необходимо предоставить рекомендации, благодарности по итогам участия в волонтерских акциях и 
          проектах (при наличии).
          Приветствуется наличие личной книжки волонтёра.<br><br>

          Заявок всегда в десятки раз больше, чем мест. Мы тщательно отбираем волонтеров, учитываем их образование, 
          профессию, наличие рекомендаций от других заповедников и личные качества.Дистанционно выбрать 
          подходящего человека бывает сложно,
          поэтому мы рады, когда вы сопровождаете заявки короткими видео о себе (на 1-2 минуты).
          
        </p>
      </div>
    </div>
    </ng-template> 
    <ng-template carouselSlide>
      <div class="slide honest-slide">
        <div class="image image4">
          <img src="../../assets/images/сладй-4.png">
          <!-- <div>
            Illustration by <a href="https://icons8.com/illustrations/author/5c07e68d82bcbc0092519bb6">Icons 8</a> from <a href="https://icons8.com/illustrations">Ouch!</a>
          </div> -->
        </div>
          <div class="text-wrapper">
            <h1>
            Шаг 4 - Подписание договора
            </h1>
            <p>
              Ознакомление, подписание всех необходимых документов (договор о добровольческой деятельности в 2-х экземплярах, 
              правила пожарной безопасности,инструкция при встрече с бурым медведем, правила санитарной безопасности в лесах, 
              соглашение о соблюдении волонтером информационной политики Кроноцкого заповедника в области соц.сетей, ведомость 
              о списании продуктов), выдача разрешений на посещение ООПТ проходит в офисе учреждения, по адресу: город Елизово,
              ул.Рябикова, дом 48. При себе необходимо иметь паспорт. <br><br>
              Вам также выдается фирменная футболка волонтера, бандана.<br><br>
              ВАЖНО! Все документы должны быть подписаны до отправки на кордон. Если у Вас по тем или иным причинам не 
              получается сделать это до начала волонтерских работ, то Вам необходимо заранее сообщить нам об этом, заключить 
              договор дистанционно, ознакомиться с правилами, и отправить цветные скан-копии документов. И после окончания работ
              обязательно подписать оригиналы документов в учреждении.
            </p>
          </div>
      </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide odd-slide">
          <div class="image image5">
            <img src="../../assets/images/слайд-5.png">
            <!-- <div>
              Illustration by <a href="https://icons8.com/illustrations/author/5dbbfa4a01d0360016456d51">Murat Kalkavan</a> from <a href="https://icons8.com/illustrations">Ouch!</a>
            </div> -->
          </div>
          <div class="text-wrapper">
            <h1>
            Шаг 5 - Поставновка в график
            </h1>
            <p>
              Мы ставим Вас в график волонтерских работ на сезон согласно срокам, указанным в договоре.         
              Минимальный срок работы на охраняемых территориях-3 недели.
              По мере формирования, график на текущий сезон размещается на сайте www.kronoki.ru в разделе 
              ВОЛОНТЕРСТВО НА ТЕРРИТОРИЯХ.
            </p>
          </div>
        </div>
      </ng-template>  
      <ng-template carouselSlide>
        <div class="slide honest-slide">
          <div class="image image6">
            <img src="../../assets/images/слайд-6.png">
            <!-- <div>
              Illustration by <a href="https://icons8.com/illustrations/author/5e7e24ce01d0360013bb7479">Natasha Remarchuk</a> from <a href="https://icons8.com/illustrations">Ouch!</a>
            </div> -->
          </div>
            <div class="text-wrapper">
              <h1>
              Шаг 6 - Отправка на кордон
              </h1>
              <p>
                В зависимости от места нахождения для добровольцев есть три варианта отправки на кордоны: вертолет, вахтовка или 
                маломерное судно. Например, добраться в Долину гейзеров, или в кальдеру вулкана Узон можно только на вертолете. 
                На кордон Семячик или Кроноки – на маломерном судне или вертолете, на кордоны Травяной или Озерный можно
                добраться как на вахтовке, так и на вертолете.  Если погода позволяет, то трудностей в отправке не возникнет. 
                Однако, время ожидания отправки может составить от двух суток до двух недель. 
              </p>
            </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide odd-slide">
          <div class="image image7">
            <img src="../../assets/images/слайд-7ai.png">
            <!-- <div>
              Illustration by <a href="https://icons8.com/illustrations/author/5c07e68d82bcbc0092519bb6">Icons 8</a> from <a href="https://icons8.com/illustrations">Ouch!</a>
            </div> -->
          </div>
          <div class="text-wrapper">
            <h1>
            Шаг 7 - Работа на территориях
            </h1>
            <p>
              Доброволец обязан выполнять работы, оговоренные в соглашении. При нарушении условий договора ФГБУ 
              «Кроноцкий государственный заповедник» в одностороннем порядке расторгает договор, и доброволец самостоятельно
              организует и оплачивает своё возвращение с территории.<br><br>
              * Руководитель кордона старается распределить нагрузку на волонтеров таким образом, чтобы у каждого была возможность 
              побывать на экскурсиях.
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide honest-slide">
          <div class="image image8">
            <img src="../../assets/images/слайд-8.png">
            <!-- <div>
              Illustration by <a href="https://icons8.com/illustrations/author/5dbbfa4a01d0360016456d51">Murat Kalkavan</a> from <a href="https://icons8.com/illustrations">Ouch!</a>
            </div> -->
          </div>
            <div class="text-wrapper">
              <h1>
              Шаг 8 - Отчет и отзыв
              </h1>
              <p>
                По возвращении с территорий волонтеру необходимо написать отзыв и отчет добровольца (приложение №4,№5 к договору).
                Выдается личная волонтерская книжка(при отсутствии),с отметкой о дате и сведениях о деятельности волонтера.
              </p>
            </div>
        </div>
      </ng-template>
</owl-carousel-o>
</div>
