* {
    margin: 0;
    box-sizing: border-box;
    font-family: Rubik;
    font-size: 20px;
}
body {
    background: #DEB887;
}
.hint{
    margin: 40px auto 40px 100px;
}
.post-wrap {
    max-width: 1120px;
    margin: 40px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.post-item {
    padding: 10px;
}
.post-item-wrap {
    overflow: hidden;
    position: relative;
}
.post-item img {
    display: block;
    width: 100%;
}
.text-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    width: 86%;
    padding: 20px;
    background: #DEB887;
    transform: translate3d(-100%, 0, 0);
    transition: transform .5s cubic-bezier(.33, .02, 0, .93);
}
.post-item:hover .text-wrapper {
    transform: translate3d(0, 0, 0);
    transition: transform .5s cubic-bezier(.33, .02, 0, .93) .3s;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background: #8B4513;
    transform: translate3d(-100%, 0, 0);
    transition: transform .4s cubic-bezier(.33, .02, 0, .93) .2s;
}
.post-item:hover .overlay {
    transform: translate3d(0, 0, 0);
    transition: transform .5s cubic-bezier(.33, .02, 0, .93);
}
.post-cat {
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #000200;
    font-weight: 500;
}
.post-title, .post-title li {
    font-size: 13px;
    font-weight: 400;
    color: #2F4F4F;
    font-style: italic;
}
@media (min-width: 768px) {
    .post-item {
       flex-basis: 50%;
       flex-shrink: 0;
    }
}
@media (min-width: 960px) {
    .post-item {
       flex-basis: 33.333333333%;
    }
}