<p class="hint">Наведите, чтобы узнать больше</p>

<div class="post-wrap">

    <div class="post-item">
        <div class="post-item-wrap">
                <div class="image-wrapper">
                    <img src="assets/images/items1.jpg" logo="Экипировка">
                </div>
                <div class="text-wrapper">
                    <div class="post-cat">Необходимое туристическое снаряжение</div>
                        <h3 class="post-title">
                            Потребуется стандартное походное снаряжение, за исключением палатки и посуды для приготовления еды на костре: высокие резиновые сапоги («болотники»), спальник, коврик, налобный фонарик, термос, личная посуда (на некоторых кордонах вся посуда есть),биоразлагаемые средства гигиены, репелленты. Погода на Камчатке быстро и часто меняется – не забудьте про теплую и водоотталкивающую одежду и обувь. В теплые дни из соображений этики нельзя ходить по кордону в купальнике и коротких шортах, поэтому комплект легкой одежды тоже возьмите с собой. Помните, вы – лицо заповедника, наравне с сотрудниками!
                        </h3>
                </div>
                <div class="overlay"></div>
        </div>
    </div>

    <div class="post-item">
        <div class="post-item-wrap">
                <div class="image-wrapper">
                    <img src="assets/images/electro1.jpg">
                </div>
                <div class="text-wrapper">
                    <div class="post-cat">Электричество и связь</div>
                        <h3 class="post-title">
                            На всех кордонах есть электрогенераторы и солнечные батареи, то есть, возможность заряжать гаджеты у вас будет. Сотовой связи нет нигде. На многих кордонах утром и вечером есть интернет (очень медленный, но весточку родным отправить возможно).
                        </h3>
                </div>
                <div class="overlay"></div>
        </div>
    </div>

    <div class="post-item">
        <div class="post-item-wrap">
                <div class="image-wrapper">
                    <img src="assets/images/med.jpg">
                </div>
                <div class="text-wrapper">
                    <div class="post-cat">Требования к справкам</div>
                        <h3 class="post-title">
                            Заповедные территории – зоны высокой вулканической и сейсмической активности, вокруг множество диких животных, а штатных врачей на кордонах нет. Поэтому мы приветствуем медицинские справки, а также просим вас самостоятельно оформить страхование жизни и здоровья, также необходимо иметь при себе отрицательный ПЦР тест на Covid-19. Не забудьте взять личную аптечку! 
                        </h3>
                </div>
                <div class="overlay"></div>
        </div>
    </div>

    <div class="post-item">
        <div class="post-item-wrap">
                <div class="image-wrapper">
                    <img src="assets/images/food.jpg">
                </div>
                <div class="text-wrapper">
                    <div class="post-cat">Питание</div>
                        <h3 class="post-title">
                            Основные продукты питания предоставляютя волонтеру. Заповедник обеспечивает пайком каждого волонтера. Вам необходимо будет только докупить для себя фрукты,овощи, кондитерские изделия, молочные продукты по своему вкусовому предпочтению 
                        </h3>
                </div>
                <div class="overlay"></div>
        </div>
    </div>

    <div class="post-item">
        <div class="post-item-wrap">
                <div class="image-wrapper">
                    <img src="assets/images/house4.jpg">
                </div>
                <div class="text-wrapper">
                    <div class="post-cat">Проживание</div>
                        <h3 class="post-title">        
                            Основные продукты питания предоставляютя волонтеру. Заповедник обеспечивает пайком каждого волонтера. Вам необходимо будет только докупить для себя фрукты,овощи, кондитерские изделия, молочные продукты по своему вкусовому предпочтению
                        </h3>
                </div>
                <div class="overlay"></div>
        </div>
    </div>

    <div class="post-item">
        <div class="post-item-wrap">
                <div class="image-wrapper">
                    <img src="assets/images/hotel.jpg">
                </div>
                <div class="text-wrapper">
                    <div class="post-cat">Контакты и адреса отелей в г. Елизово</div>
                        <ul class="post-title">        
                            <li>Мини-отель "АМТО" ул. Ленина, 32, Елизово, Камчатский край, 684300 8 (924) 585-35-35, стоимость от 1500 рублей</li>
                            <li>Вила Хостел, Уральская ул., дом 2, Камчатский край, 684007, 8 (963) 833-22-32, стоимость от 2000 рублей</li>
                            <li>Хостел Камчатский Стиль, ул. Беринга, 26, Елизово, Камчатский край, 684000 8 (951) 290-67-42, стоимость от 3000 рублей</li>
                            <li>Гостиница "Арт Отель" ул. Виталия Кручины, 3, Елизово, Камчатский край, 684000, 8 (415) 317-14-43, стоимость от 6500 рублей</li>
                            <li>Yu Hotel, ул. Виталия Кручины, д. 38 А, Камчатский край, 684000 8 (914) 021-27-27, стоимость от 8000 рублей</li>
                            <li>Forest Hotel, Геофизическая ул., 9а, 3-й этаж, Елизово, Камчатский край, 684000 8 (924) 698-55-55, стоимость от 3000 рублей</li>
                            <li>Аэро Отель ул. Магистральная, 44В, Елизово, Камчатский край, 684010 8 (963) 833-44-00, стоимость от 4500 рублей</li>
                        </ul>
                </div>
                <div class="overlay"></div>
        </div>
    </div>



</div>
    
    
